# Question 1: Basic List Operations

**a) Create a list named `fruits` containing the following items: "apple", "banana", "orange", "grape", "kiwi".**

In [1]:
fruits = ["apple","banana","orange","grapes"]
print(fruits)

['apple', 'banana', 'orange', 'grapes']

**b) Add "pear" to the end of the list.**

In [6]:
fruits.append("pear")
fruits

['apple', 'banana', 'orange', 'grapes', 'pear']

**c) Insert "mango" at the second position in the list.**

In [16]:
fruits.insert(1,"mango")
fruits

['apple', 'mango', 'orange', 'banana', 'grapes']

**d) Remove "orange" from the list.**

In [17]:
fruits.remove("orange")

fruits

['apple', 'mango', 'banana', 'grapes']

# Question 2: Slicing and Indexing

**a) Create a list named `numbers` containing the integers from 0 to 9.**

In [20]:
numbers = list(range(0,10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**b) Print the element at index 3.**

In [22]:
print(numbers[3])

3

**c) Print a sublist containing the elements from index 2 to 6 (inclusive).**

In [24]:
print(numbers[2:7])

[2, 3, 4, 5, 6]

**d) Print the last three elements using negative indexing.**

In [25]:
print(numbers[-3:])

[7, 8, 9]

# Question 3: List Comprehension

**a) Create a list named `squares` using a list comprehension that contains the squares of numbers from 1 to 10.**

In [46]:
squares = [i ** 2 for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**b) Create a new list named `even_squares` using a list comprehension that contains the squares of even numbers from the `squares` list.**

In [113]:
even_squares = [r for r in squares if r % 2 == 0]
print(even_squares)

[4, 16, 36, 64, 100]

# Question 4: List Manipulation

**a) Create a list named `colors` containing the following items: "red", "green", "blue", "yellow", "purple".**

In [55]:
colors = ["red", "green", "blue", "yellow", "purple"]
colors

['red', 'green', 'blue', 'yellow', 'purple']

**b) Swap the first and last elements of the list.**

In [56]:
colors[0],colors[-1] = colors[-1],colors[0]
colors

['purple', 'green', 'blue', 'yellow', 'red']

**c) Reverse the order of the list.**

In [57]:
colors.reverse()
colors

['red', 'yellow', 'blue', 'green', 'purple']

**d) Remove the second and third elements from the list.**

In [61]:
colors.pop(1) #del colors[1:3]
colors.pop(1)
colors

['red', 'green', 'purple']

# Question 5: Advanced Slicing

**a) Create a list named `letters` containing the letters from 'a' to 'j'.**

In [72]:
letters = [chr(ord("a") + i) for i in range(10)]
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**b) Using slicing, create a new list `first_half` containing the first half of the `letters` list.**

In [77]:
first_half = letters[:len(letters)//2]
first_half

['a', 'b', 'c', 'd', 'e']

**c) Using slicing, create a new list `last_three` containing the last three elements of the `letters` list.**

In [88]:
last_three = letters[-3:]  #letters[len(letters)-3:] 
last_three

['h', 'i', 'j']

# Question 6: Nested Lists

**a) Create a nested list named `matrix` with the following rows:**

In [101]:
import numpy as np

matrix = np.arange(1,10).reshape(3,3).tolist()
display(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

**b) Print the element in the second row and third column.**

In [114]:
print(matrix[1][2])

6