# Slicing on list

Syntax: list_variable[start:end:step]

* start = this number will be included
* end = excluded end-1
* step = sequance/gap
        *step = 1 (default value)

In [12]:
char = list("abcdefghijklmnopqrstuvwxyz")
print(char)
counter = 0
while(counter< len(char)):
    print(char[counter])
    counter += 1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [30]:
a= list(range(1,11))

print(a)

#same
# print(a[3::])
# print(a[3:])
# print(a[3:10])
# print(a[3:10:1])
# print(a[-7:])


# print(a[-2:-7])


#print(a[0:10:4])
# print(a[::]#return all
# print(a[0:10:1])
      
# print(a[1:7])
# print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]

In [45]:
a= list(range(1,11))
#step work in forward direction, until we set step in negative
# end-1
print(a)
print(a[:100])
print(a[-5:-1]) #negative : start < end \ step () #if step omit
print(a[::-1])
print(a[-5:-10:-1])
# print(a[-2:-5:-1])
# print(a[-2:-5:1]) # empty -give - step for reverse order

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2]

In [49]:
import numpy as np
a = np.arange(1,101).reshape(10,10).tolist()
display(a)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [52]:
#dimension = count open close bracket 
#all data convert into numbers (numpy array)
a[::]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [53]:
a[0:5]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]]

In [58]:
[i[5:10] for i in a]

[[6, 7, 8, 9, 10],
 [16, 17, 18, 19, 20],
 [26, 27, 28, 29, 30],
 [36, 37, 38, 39, 40],
 [46, 47, 48, 49, 50],
 [56, 57, 58, 59, 60],
 [66, 67, 68, 69, 70],
 [76, 77, 78, 79, 80],
 [86, 87, 88, 89, 90],
 [96, 97, 98, 99, 100]]

In [2]:
a= list(range(1,11))

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
for i in "abcdefg":  #block
    print(i) #body

a
b
c
d
e
f
g

In [6]:
for i in ["name1","name2","name3"]:
    print(i)

name1
name2
name3

In [ ]:
#comprehansive method :style write code in single line
# body + block (remove colon)

In [12]:
[i for i in "abcd"] #string comprehansive

['a', 'b', 'c', 'd']

In [ ]:
[i for i in ["a","b","c","d"]] #tuple comprehansive

In [4]:
[i for i in dir(a) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [30]:
#print is non return function
names = []
print(names)
names.append("Mirza")
print(names)
names.append("Rosh")
print(names)
names.append("Mughal")
print(names)

[]
['Mirza']
['Mirza', 'Rosh']
['Mirza', 'Rosh', 'Mughal']

In [31]:
while True:
    name = input("Enter student name | X for exit")
    if name == 'x' or name == "X":
        break
    names.append(name)

Enter student name | X for exitBaig
Enter student name | X for exitx

In [32]:
st_names = names #shallow cpy
st_names

['Mirza', 'Rosh', 'Mughal', 'Baig']

In [20]:
st_names[0]

'Mirza'

In [33]:
st_names[1] = "Roshana"
print(st_names)
print(names)

['Mirza', 'Roshana', 'Mughal', 'Baig']
['Mirza', 'Roshana', 'Mughal', 'Baig']

In [35]:
st_names1 = names.copy() #deep copy -clone new object
st_names1
st_names1[1] = "Rosh"
print(names)
print(st_names1)

['Mirza', 'Roshana', 'Mughal', 'Baig']
['Mirza', 'Rosh', 'Mughal', 'Baig']

In [37]:
print(names)
n = names[:] # slicing: deep copy
n[1] = "Rosh"
print(names)
print(n)

['Mirza', 'Roshana', 'Mughal', 'Baig']
['Mirza', 'Roshana', 'Mughal', 'Baig']
['Mirza', 'Rosh', 'Mughal', 'Baig']

In [39]:
names.count("Mirza")

1

In [40]:
names

['Mirza', 'Roshana', 'Mughal', 'Baig']

In [41]:
names.append('111')

In [42]:
names.append(["222"]) # add in last
print(names)

['Mirza', 'Roshana', 'Mughal', 'Baig', '111', ['222']]

In [43]:
re_names = ["a","b","c"]
print(re_names)

['a', 'b', 'c']

In [65]:
names.extend(re_names)#append list values
names

['Mirza', 'Roshana', 'Mughal', 'Baig', '111', 'a', 'b', 'c']

In [66]:
del names[-4]
names

['Mirza', 'Roshana', 'Mughal', 'Baig', 'a', 'b', 'c']

In [67]:
names.index("Baig")#case sensitive

3

In [68]:
names.insert(0,"Pak")#index, value
names

['Pak', 'Mirza', 'Roshana', 'Mughal', 'Baig', 'a', 'b', 'c']

In [69]:
del names[0] #cant return or save in variable
names

['Mirza', 'Roshana', 'Mughal', 'Baig', 'a', 'b', 'c']

In [70]:
c= names.pop() #last value remove/can store in variable
print(c)
print(names)

c
['Mirza', 'Roshana', 'Mughal', 'Baig', 'a', 'b']

In [71]:
names.remove("b")
names

['Mirza', 'Roshana', 'Mughal', 'Baig', 'a']

In [72]:
names.reverse()
names

['a', 'Baig', 'Mughal', 'Roshana', 'Mirza']