# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

<img src= "operators.png">

# Arithmetic operators

In [10]:
import pandas as pd
df = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
df[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [11]:
print(10+2, "Addition")
print(10-2, "Subtraction")
print(10/2, "Division")
print(10*2, "Multlipication")
print(10%2, "Modulus")
print(12 ** 2, "Power")
print(10 // 2, "float division") #float division : return number before point

12 Addition
8 Subtraction
5.0 Division
20 Multlipication
0 Modulus
144 Power
5 float division

<img src= "modulus.png">

In [14]:
#modulus
print(11 % 3)

2

In [13]:
#power
print(2 ** 2)
print(2 ** 3)

4
8

In [15]:
#division
7/2

3.5

In [21]:
# float division : return number before point
7//2

3

# Python Assignment Operators

In [17]:
df[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [19]:
a = 5
a += 3
print(a)

8

# Python Comparison Operators

In [20]:
df[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [22]:
a = 7
b = 9

a < b

True

In [23]:
a = 9
b = 9

a >= b

True

In [24]:
a = 9
b = 9

a != b

False

In [25]:
df[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [28]:
#      1        2        3        4
print(True and True and True and True)
print(True and False and True and True)
print(True and False and True and False)

True
False
False

In [27]:
#      1        2       3      4
print(True or True or True or True)
print(True or False or True or True)
print(True or False or True or False)
print(False or True or True or True)

True
True
True
True